.middleSection {
    width: 50%;
    padding-left: 10%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
    background-color: #fff;
    margin-top: 55px;
}

.rightSidebar {
    position: fixed;
    top: 55px;
    right: 0;
    width: 20%;
    background: #ffffff;
    padding: 6px 16px;
    height: 100%;
    box-shadow: 5px 0 30px rgba(0,0,0,.1);
    transition: all .5s ease;
    overflow: hidden;
}

.post {
    padding-top: 15px;
}