* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    resize: both;
    overflow: auto;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #000;
    margin: 20px 0
}

.left-sidebar {
    width: 15%;
    padding: 50px;
    position: fixed;
    left: 0;
    height: 100%;
    background-color: #f2f2f2;
}

.middle-section {
    width: 50%;
    padding-left: 10%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
    background-color: #fff;
}

.arial-label {
    background-color: pink;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 100%;
    padding: 15px 15px;
    display: flex;
}

.input-text {
    width: 100%;
    margin-left: 20px;
}

.text-input {
    background-color: pink;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 100%;
    padding: 15px 15px;
}

.right-sidebar {
    width: 15%;
    padding: 50px;
    position: fixed;
    right: 0;
    height: 100%;
    background-color: #f2f2f2;
}


.like-dislike {
    display: flex;
    align-items: center;
}

.interaction-buttons {
    display: flex;
    align-items: center;
    padding-right: 20%;
}

.like {
    margin-right: 10px;
    width: 100px;
    height: 40px;
    border-radius: 15px;
}

.dislike {
    border-radius: 15px;
    width: 100px;
    height: 40px;
}

.comment-section {
    display: flex;
    align-items: center;
    padding-right: 15%;
}

form {
    display: flex;
    align-items: center;
    padding-top: 30px;
    position: relative;
    bottom: 15px;
}

input[type="text"] {
    padding: 10px 27px;
    margin-right: 5px;
    font-size: 16px;
    border-radius: 15px;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    margin-bottom: 10px;
}