.body {
    height: 500px;
    width: 90%;
    margin: 20px auto;
}

.otherFunctionsWrapper {
    float: left;
    border: 1px solid black;
    border-radius: 20px;
    height: 500px;
    width: 20%;
    box-sizing: border-box;
}

.infomationWrapper {
    float: left;
    width: 60%;
    height: 500px;
    box-sizing: border-box;
}

.otherCategoriesWrapper {
    float: right;
    border: 1px solid black;
    border-radius: 20px;
    height: 500px;
    width: 20%;
    box-sizing: border-box;
}

.otherFunctionsWrapper .otherFunctions {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    height: 500px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 0 5%;
}

.categoryName {
    text-align: center;
    font-size: 30px;
    padding: 10px 0;
}

.information table {
    width: 90%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.information th,td {
    border: 1px solid black;

}

.information th {
    width: 20%;
    height: 50px;
}

.information td {
    width: 80%;
    height: 70px;
    text-align: center;
}

.information table tr:first-child th {
    border-top-left-radius: 20px;
}

.information table tr:first-child td {
    border-top-right-radius: 20px;
}

.information table tr:last-child th {
    border-bottom-left-radius: 20px;
}

.information table tr:last-child td {
    border-bottom-right-radius: 20px;
}

.actionsWrapper {
    width: 90%;
    margin: 20px auto 0 auto;
}

.actionsWrapper .add {
    float: left;
    width: 50%;
    height: 70px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px 0 0 20px;
    box-sizing: border-box;
}

.actionsWrapper .delete {
    float: right;
    width: 50%;
    height: 70px;
    background-color: white;
    border: 1px solid black;
    border-radius: 0 20px 20px 0;
    box-sizing: border-box;
}

.actionsWrapper img{
    width: 20px;
}

.otherCategoriesWrapper .label {
    text-align: center;
    font-size: 30px;
    padding: 10px 0;
}

.otherCategoriesWrapper ul{
    list-style: none;
    margin: 0;
}

.otherCategoriesWrapper li {
    margin: 0;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc((500px - 56px) / 4);
    border-top: 1px solid black;
}