.categoryWrapper {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.body {
    height: calc(100% - 55px);
}

.otherFunctionsWrapper {
    float: left;
    width: 20%;
    height: 100%;
    background-color: #f2f2f2;
    border-right: 1px solid black;
}

.infomationWrapper {
    float: left;
    width: 60%;
    height: 100%;
}

.otherCategoriesWrapper {
    float: right;
    width: 20%;
    height: 100%;
    background-color: #f2f2f2;
    border-left: 1px solid black;
}

.otherFunctionsWrapper .otherFunctions {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    height: 100%;
    margin: 0 10%;
    background-color: #f2f2f2;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.categoryName {
    text-align: center;
    font-size: 30px;
    padding: 10px 0;
}

.information table {
    width: 90%;
    margin: 0 auto;
}

.information th,
td {
    border: 1px solid black;
}

.information th {
    width: 20%;
    height: 50px;
}

.information td {
    width: 80%;
    height: 70px;
    text-align: center;
}

.information table tr:first-child th {
    border-top-left-radius: 20px;
}

.information table tr:first-child td {
    border-top-right-radius: 20px;
}

.information table tr:last-child th {
    border-bottom-left-radius: 20px;
}

.information table tr:last-child td {
    border-bottom-right-radius: 20px;
}

.actionsWrapper {
    width: 90%;
    margin: 20px auto 0 auto;
}

.actionsWrapper .edit {
    float: left;
    width: 50%;
    height: 50px;
    border: 1px solid black;
    border-radius: 20px 0 0 20px;
}

.actionsWrapper .delete {
    float: right;
    width: 50%;
    height: 50px;
    border: 1px solid black;
    border-radius: 0 20px 20px 0;
}

.actionsWrapper .add {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 20px;
}

.otherCategoriesWrapper .label {
    text-align: center;
    font-size: 30px;
    padding: 10px 0;
}

.otherCategoriesWrapper ul {
    margin: 0;
    list-style: none;
}

.otherCategoriesWrapper li {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-top: 1px solid black;
}

.otherCategoriesWrapper li:last-child {
    border-bottom: 1px solid black;
}

.categoryModal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.categoryModalContent {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.categoryClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.categoryClose:hover,
.categoryClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}